.small-button {
  padding: 0;
  outline-width: 0;
}

.toolbar {
  -bobgui-icon-style: symbolic;
}

.cache-invalidation-test {
  background-repeat:no-repeat;
  background-image:-gtk-icontheme('flag');
  background-position:center center;
}
